.status-section {
  display: flex;
  flex-direction: column;
}

.status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.add-package-btn {
  background: #d4002a;
  color: #fff;
  padding: 16px 34px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  margin-left: auto;
}

.status-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 20px;
  width: fit-content;
  padding-right: 73px;
  border-right: 1px solid #ddd;
}

.status-item {
  background: #f5f6fa;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  font-size: 20px;
}

.status-item.active {
  border: 2px solid #d4002a;
  background: #fff;
}

.status-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.status-count {
  background: #d4002a;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 0 10px;
}

.status-icon {
  color: #d4002a;
  font-weight: bold;
}

/* Mobile styles */
@media (max-width: 480px) {
  .status-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  .add-package-btn {
    width: 100%;
    margin-left: 0;
  }
  
  .status-count {
    font-size: 22px;
  }
  
  .status-label {
    font-size: 12px;
  }
}