

.dashboard-status {
  flex-shrink: 0;
}

.dashboard-children {
  flex: 1;
  min-width: 300px;
}

.dashboard-main {
  padding: 30px;
  padding-left: 250px;
  box-sizing: border-box;
}

.dashboard-content {
  display: flex;
  gap: 20px;
 
  margin-top: 20px;
}
/* Адаптив */
@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
    gap: 16px;
  }

  .dashboard-status {
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
  }
  .dashboard-main {
    padding-left: 20px;
  }
}
